#header {
	border-top: 10px solid #4999b0;
	background: #fff;
	position: relative;
}
#header #logo {
    margin-left: 10%;
}
#header .container-fluid {
	padding-top: 1em;
	padding-bottom: 1em;
}
#container-cenepred {
	padding-right: 0;
	padding-left: 0;
	background: #f3eeea;	
}
#title-main {
    float: left;
    margin-left: 2%;
}
#title-main h1 {
    color: #fff;
    font-style: italic;
    font-size: 14px;
    margin-top: 0;        
}
.title-abrev {
    font-size: 59px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    display: block;
    font-family: arial;
    font-style: normal;
}

.social_media {
    position: absolute;
    right: 45px;
    top: 16px;
}
.social_media ul > li{
    float: left;
    list-style: none;
}
.social_media ul > li a#tw {
    background: url("../images/twitter.png") no-repeat;
}
.social_media ul > li a#fb {
    background: url("../images/facebook.png") no-repeat;
}
.social_media ul > li a#yt {
    background: url("../images/youtube.png") no-repeat;
}
.social_media ul > li a#ml {
    background: url("../images/correo.png") no-repeat;
}
.social_media ul > li a {
    text-indent: -9999px;
    width: 35px;
    height: 35px;
    display: block;
}

#header .navbar.navbar-default  li > a {
    color: #FFF;
    font-size: 1em;
    font-weight: bold;    
    display: block;    
    text-shadow: 1px 1px 1px rgba(0,0,0,0.15);
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    text-transform: uppercase;
}

#title-home {
	background: rgb(73, 153, 176) none repeat scroll 0% 0%;
	color: rgb(255, 255, 255);
	height: 366px;
	padding-top: 9%;
	width: 25%;
}
#title-home h1 {
	font-size: 50px;
	font-family: arial;
	font-weight: bold;
}
#title-home .deta {
	display: table;
	font-size: 24px;
}
#img-home {
	padding-left: 0;
	width: 75%
}
#img-home img {
	width: 900px;
}

#content-home {
	padding-top: 10px;
	padding-bottom:10px;
	text-align: justify;
}

#footer {
	background: #4999b0;
    height: auto;
    padding: 30px 0;
    color: #fbfbfb;
    font-size: 13px;
}
#footer h4{
	font-size: 16px;
	text-transform: uppercase;
	text-align: center;
}

#footer .col-2-6 {
    width: 19.5%;
    padding: 0 8px;
    float: left;
}
#footer a {
	color: #fbfbfb;
}

.dic h3 {
    color: #4999b0;
    border-bottom: .25em solid #1a7891;
    margin-bottom: .5em;
}
.dic p {
	background: #f6f6f6;
    padding: 12px;
    text-align: justify;
}
.dic h3, .dic h4	{
	font-weight: bold;
}

/*Iconos footer*/
.icon {
	position: relative;
	text-align: justify;
	padding-left: 27px;
}
.icon span {    
    width: 32px;
    height: 34px;    
    background: url(../images/icons.png) no-repeat;
    display: inline-block;
    float: left;
	left: 0px;
	top: 5px;
	margin-right: 3px;
}
.icon span#dir {
	background-position:0 0;
}
.icon span#tel {
	background-position:-32px 0;	
}
.icon span.opor {
	background-position:-64px 0;	
}
.icon span.enreg {
	background-position: 0 -34px;
	top: 10px;
	width: 40px;
	height: 46px;
	margin-bottom: 10px;		
}
.icon span.hora {
	background-position: -36px -37px;
	width: 51px;
	height: 42px;
	margin-bottom: 20px;
	margin-top: 20px;
}
.container-fluid.home {
	padding-left: 0;
	padding-right: 0;
	margin-left: -15px;
}

@media (min-width: 1200px) {
	#footer .col-2-6 {
    width: 19.5%;
  }
}
@media (min-width: 992px) and (max-width: 1199px){
	#footer .col-2-6 {
    /*width: 31%;*/
  }
}
@media (min-width: 768px) and (max-width: 991px){
  #footer .col-2-6 {
    width: 33%;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  #footer .col-2-6 {
    width: 50%;
  }
}
@media (min-width: 320px) and (max-width: 479px) {
  #footer .col-2-6 {
    width: 90%;
    text-align: center;
  }
  #logo {
  	margin-right: auto;
  	margin-left: auto;
  	display: table;
  	float: none !important;
	}
}
#logo-main {
    width: 120px;
}

.table > thead > tr > th {
	font-weight: bold;
    text-align: center;
    min-width: 78px
}
.table > thead > tr > th.border-b{
	border-bottom: 2px solid #9cafb4 !important;
    cursor: pointer;
}
.table > thead > tr:first-child {
    border-top: 2px solid #9cafb4 !important;   
}
.table > thead .glyphicon {
    font-size: 10px;
    color: #ccc;
    display: inline-block;
}
.dataTables_info {
    padding: 31px 0;
}

table.table.datatables tr td, table.table.datatables tr th {
    border:1px solid #ccc;
}

.img-circle.col-lg-2 {
    background: #4999b0;
    height: 194px;
    width: 194px;
    padding: 50px 40px;
    text-align: center;
    margin-right: 45px;
}
.img-circle.bg2 {
    background: #58a8b9;
}
.img-circle.bg3 {
    background: #009ab1;
}
.img-circle.bg4 {
    background: #02a2ba;
}
span.number {
    display: block;
    color: #fff;
    font-size: 40px;
    border-bottom: 1px solid #428da2;
    margin-bottom: 5px;
}
span.lbl {
    font-weight: bold;    
}
.barra span {
    float: left;
    margin-right: 15px;
    margin-top: 5px;
    width: 100px;
    text-align: right;
}
.barra .progress, .barra span {
    height: 25px;
}
.barra .progress .progress-bar {        
    line-height: 2em;
}

/*mapas*/
#map {
       height: 500px;
       width: 560px;
       overflow: hidden;
       float: left;
       border: thin solid #333;
       }
#capture {
        height: auto;
        width: 549px;        
        float: left;
        border-left: none;        
        padding: 5px 20px 20px;
        line-height: 2em;
}
.er #map{
    width: 450px;    
}
.er #capture {
    width: 450px;
}
       /*#capture h3 {
        border-bottom: 3px solid #ccc;
        padding-bottom: 10px;
        color: #fff;
        background: #4999b0;
        padding: 5px 16px;
       }
       #capture h5:first-child {
        color: #4999b0;
       }*/
.mapas {
    margin-bottom: 15px;
}
h5 {
    font-size: 20px !important;
}
html body .mapas table {
    border-radius: 8px 8px 0 0;
    width: 100%;
    max-width: 930px;
    border: 1px solid #38678f;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    animation: float 5s infinite;
}
body .mapas  thead tr td:first-child, body .mapas  tbody tr:first-child td: {
    border-radius: 5px 5px 0 0;
}
html body .mapas  thead tr td, html body .mapas  tbody tr:first-child td{
    font-weight: bold;
    font-size: 12px !important;        
    background: #4999b0 !important;
    text-align: center;
    color: #fff;        
    padding: 15px 5px;
}
body .mapas  tbody tr td {
    font-weight: normal;
}
body .mapas  thead + tbody tr:first-child td {
    background: #d7ebf0 !important;
    color:#2c3e50;
    font-weight: normal;
    text-align: left;
    padding: 4px 10px;
}
body .mapas  tbody tr td, body.mapas  thead tr td {
    border: 1px solid #ccc;
    font-size: 12px !important;
    background: #d7ebf0;
    padding: 4px 10px;
    text-align: left;
}
      /*body tbody tr {
          border: 1px solid #4999B0;
      }*/
.mapas.dir tbody tr td:nth-child(6) {          
          display: none;
}
.des {
    margin: 15px 5px;
}
.des a {
    font-size: 24px;
}
.er-nivel {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 5px;
    vertical-align: text-bottom;
}
.er-m-alto {
    background: #e81515;
}
.er-alto {
    background: #ffaa00;
}
.er-medio {
    background: #ffff00;
}
.er-bajo{
    background: #38a800;
}
.er_afectado {
    background: #da5f5c
}

/*linea de tiempo*/

#container-cenepred #timeline-embed.tl-timeline.tl-layout-landscape {
    height: auto !important
}
#container-cenepred .tl-storyslider {    
    height: 970px !important;
}
#container-cenepred .tl-media-item.tl-media-iframe{
    height: 
}

#container-cenepred .tl-slide .tl-slide-content-container {
    display: block;    
}

.tl-media .tl-media-content-container .tl-media-content {    
    width: 980px !important;
}
#container-cenepred .tl-media .tl-media-iframe iframe {    
    max-height: 970px !important;
    height: 800px !important;
}


.tl-slidenav-previous .tl-slidenav-content-container {    
    width: 72px !important;   
}
.tl-slidenav-previous .tl-slidenav-title {
    width: 70px !important;
}